pipeline/Migrate-from-onprem_Main.json
{
	"name": "Migrate-from-onprem_Main",
	"properties": {
		"activities": [
			{
				"name": "Lookuptables",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PopulateChangedTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": {
							"value": "SELECT\n  database_name,\n  table_name\nFROM etl_control.changed_tables_queue;\n",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "MySqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookuptables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookuptables').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 1,
					"activities": [
						{
							"name": "Lookup_Table_Size",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Lookup_LastWatermark",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "MySqlSource",
									"query": "SELECT\n    (data_length + index_length) / 1024 / 1024 AS table_size_mb\nFROM information_schema.tables\nWHERE table_schema = '@{item().database_name}'\n  AND table_name   = '@{item().table_name}';\n"
								},
								"dataset": {
									"referenceName": "MySqlTable1",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Lookup_Table_Size",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(\n  activity('Lookup_Table_Size').output.firstRow.table_size_mb,\n  5\n)\n",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy_To_Bronze_copy2",
										"description": "This does incremental copy to the bronze layer ",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "MySqlSource",
												"query": {
													"value": "@concat(\n  'SELECT * FROM `',\n  item().database_name, '`.`', item().table_name,\n  '` WHERE last_updated_at > (',\n  'SELECT last_watermark FROM etl_control.table_watermark ',\n  'WHERE database_name = ''', item().database_name,\n  ''' AND table_name = ''', item().table_name, '''',\n  ')'\n)\n",
													"type": "Expression"
												}
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "MySqlTable1",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "ds_adls_bronze_parquet",
												"type": "DatasetReference"
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "PL_Copy_By_Store",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"policy": {
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "PL_Copy_By_Store",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"database_name": "@item().database_name\n",
												"table_name": "@item().table_name\n",
												"watermark_column": "@item().watermark_column\n",
												"last_watermark": "@activity('Lookup_LastWatermark').output.firstRow.last_watermark\n",
												"new_watermark": "@variables('CurrentHighWatermark')\n"
											}
										}
									}
								]
							}
						},
						{
							"name": "UpdateWatermark",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Set_NewWatermark",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "MySqlSource",
									"query": {
										"value": "@concat(\n  'CALL etl_control.update_table_watermark(''',\n  item().database_name,\n  ''',''',\n  item().table_name,\n  ''',''',\n  variables('CurrentHighWatermark'),\n  ''')'\n)",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "MySqlTable1",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Set_NewWatermark",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "If Condition1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "CurrentHighWatermark",
								"value": {
									"value": "@formatDateTime(addMinutes(utcNow(),330),'yyyy-MM-dd HH:mm:ss')\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Lookup_LastWatermark",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "MySqlSource",
									"query": {
										"value": "@concat(\n  'SELECT last_watermark ',\n  'FROM etl_control.table_watermark ',\n  'WHERE database_name = ''', item().database_name, ''' ',\n  'AND table_name = ''', item().table_name, ''''\n)\n",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "MySqlTable1",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "PopulateChangedTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": "CALL etl_control.populate_changed_tables();\n"
					},
					"dataset": {
						"referenceName": "MySqlTable1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookuptables_copy1",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": {
							"value": "SELECT\n  database_name,\n  table_name\nFROM etl_control.changed_tables_queue;\n",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "MySqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Lookup_ChangeCount_copy1",
				"description": "Counts the number of rows changed",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": {
							"value": "@concat(\n  'SELECT COUNT(1) AS cnt FROM `',\n  item().database_name, '`.`', item().table_name,\n  '` WHERE last_updated_at > (',\n  'SELECT last_watermark FROM etl_control.table_watermark ',\n  'WHERE database_name = ''', item().database_name,\n  ''' AND table_name = ''', item().table_name, '''',\n  ')'\n)\n",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "MySqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "rowcountvalidation_copy1",
				"description": "If row count is greater than 0",
				"type": "IfCondition",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Lookup_ChangeCount_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(\n  activity('Lookup_ChangeCount').output.firstRow.cnt,\n  0\n)\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "UpdateWatermark_copy1",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Copy_To_Bronze_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "MySqlSource",
									"query": {
										"value": "@concat(\n  'CALL etl_control.update_table_watermark(''',\n  item().database_name,\n  ''',''',\n  item().table_name,\n  ''')'\n)",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "MySqlTable1",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Copy_To_Bronze_copy1",
							"description": "This does incremental copy to the bronze layer ",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "MySqlSource",
									"query": {
										"value": "@concat(\n  'SELECT * FROM `',\n  item().database_name, '`.`', item().table_name,\n  '` WHERE last_updated_at > (',\n  'SELECT last_watermark FROM etl_control.table_watermark ',\n  'WHERE database_name = ''', item().database_name,\n  ''' AND table_name = ''', item().table_name, '''',\n  ')'\n)\n",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "MySqlTable1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_bronze_parquet",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"currentTable": {
				"type": "String"
			},
			"CurrentHighWatermark": {
				"type": "String"
			}
		},
		"annotations": []
	}
}