pipeline/Migrate-from-onprem.json
{
	"name": "Migrate-from-onprem",
	"properties": {
		"activities": [
			{
				"name": "Lookuptables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": {
							"value": "SELECT\n    table_schema AS database_name,\n    table_name\nFROM information_schema.tables\nWHERE table_type = 'BASE TABLE'\n  AND table_schema like '%db';",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "MySqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookuptables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookuptables').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 1,
					"activities": [
						{
							"name": "Lookup_ChangeCount",
							"description": "Counts the number of rows changed",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "MySqlSource",
									"query": {
										"value": "@concat(\n  'SELECT COUNT(1) AS cnt FROM `',\n  item().database_name, '`.`', item().table_name,\n  '` WHERE last_updated_at > (',\n  'SELECT last_watermark FROM etl_control.table_watermark ',\n  'WHERE database_name = ''', item().database_name,\n  ''' AND table_name = ''', item().table_name, '''',\n  ')'\n)\n",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "MySqlTable1",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "rowcountvalidation",
							"description": "If row count is greater than 0",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Lookup_ChangeCount",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(\n  activity('Lookup_ChangeCount').output.firstRow.cnt,\n  0\n)\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "UpdateWatermark",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "Copy_To_Bronze",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "MySqlSource",
												"query": {
													"value": "@concat(\n  'CALL etl_control.update_table_watermark(''',\n  item().database_name,\n  ''',''',\n  item().table_name,\n  ''')'\n)",
													"type": "Expression"
												}
											},
											"dataset": {
												"referenceName": "MySqlTable1",
												"type": "DatasetReference"
											}
										}
									},
									{
										"name": "Copy_To_Bronze",
										"description": "This does incremental copy to the bronze layer ",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "MySqlSource",
												"query": {
													"value": "@concat(\n  'SELECT * FROM `',\n  item().database_name, '`.`', item().table_name,\n  '` WHERE last_updated_at > (',\n  'SELECT last_watermark FROM etl_control.table_watermark ',\n  'WHERE database_name = ''', item().database_name,\n  ''' AND table_name = ''', item().table_name, '''',\n  ')'\n)\n",
													"type": "Expression"
												}
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "MySqlTable1",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "ds_adls_bronze_parquet",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"currentTable": {
				"type": "String"
			}
		},
		"annotations": []
	}
}